HELP.md
target/
!target/suburbWeb-SNAPSHOT.war
#!.mvn/wrapper/maven-wrapper.jar
#!**/src/prigMain/**/target/
#!**/src/test/**/target/

/node_modules
/.pnp
.pnp.js

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/prigMain/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
