.loader {
    height: 2em;
    width: 2em;
}

.loader-path {
    fill: none;
    stroke: #003466;
    stroke-width: 10%;
    stroke-linecap: round;
    animation: animate-stroke 1.5s ease-in-out infinite;
}

.circular-loader {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}