.unframed {
    border: none;
    background: transparent;
}

.wrong { 
    color: var(--negative-color);
}

.wrong input {
    outline: 1px solid var(--negative-color)
}

.error, .error * { 
    color: white;
    background: var(--negative-color)
}

.collapsed, .collapsed * {
    user-select: none !important;
    pointer-events: none !important;
    height: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    border-width: 0 !important;
    opacity: 0 !important;

}
.collapsed input{
    display: none;
}

.disabled, .hidden {
    pointer-events: none;
    user-select: none;
}
.disabled {
    filter: grayscale(0.5) opacity(0.5);
}

.hidden, .hidden * {
    opacity: 0;
}

.none{
    display: none;
}

.positive, .positive > * {
    color: var(--positive-color) !important;
}

.negative, .negative > * {
    color: var(--negative-color) !important;
}